
{% for item in section.settings.collection.products %}
    <h1 class="new">{{item.title}}</h1>
{% endfor %}

{% schema %}
    {
        "name": "new section",
        "settings": [
            {
            "type": "inline_richtext",
            "id": "title",
            "default": "Featured collection edsdkhvbedwlhvflhedwu",
            "label": "wqdsacgvbpewh' this will be a label"
            },
            {
            "type": "collection",
            "id": "collection",
            "label": "change collection"
            }
        ],
        "presets": [
            {
            "name": "new section"
            }
        ]
    }
{% endschema %}