<h1 class="new">{{section.settings.title}}</h1>

{% schema %}
    {
        "name": "new section",
        "settings": [
            {
            "type": "inline_richtext",
            "id": "title",
            "default": "Featured collection edsdkhvbedwlhvflhedwu",
            "label": "wqdsacgvbpewh' this will be a label"
            }
        ],
        "presets": [
            {
            "name": "new section"
            }
        ]
    }
{% endschema %}