<h1 class="new">haaaai</h1>

{% schema %}
    {
        "name": "new section",
        "settings": [
            {
            "type": "inline_richtext",
            "id": "title",
            "default": "Featured collection",
            "label": "t:sections.featured-collection.settings.title.label"
            }
        ],
        "presets": [
            {
            "name": "new section"
            }
        ]
    }
{% endschema %}